html,
body {
  height: 100%;
  margin: 0;
}
footer{
  justify-content: center;
}
.font-inter {
  font-family: Inter;
  padding: 0px;
}
.main-headingh1 {
  font-family: Inter;
  font-size: 40px;
  font-weight: bold;
}
.main-headingh2 {
  font-family: Inter;
  font-size: 35px;
  font-weight: bold;
}
.sub-heading {
  /* font-family: Outfit; */
  font-size: 18px;
  font-weight: bold;
}
.body-text {
  /* font-family: Roboto; */
  font-size: 18px;
  font-weight: normal;
}
.review-text {
  /* font-family: Roboto; */
  font-size: 16px;
  font-weight: normal;
  padding-left: 12px;
  padding-right: 12px;
}
.footer-head-text{
  /* font-family: Outfit; */
  color: black;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-text{
  font-size: 18px;
  margin-bottom: 10px;
}
.nav-item{
  margin-left: 15px;
}
.navbar-brand{
  margin-bottom: 1px;
}
.section-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main-btn {
  height: 55px;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgba(207, 244, 252);
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.secondary-btn {
  height: 55px;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
  border: 2px #cff4fc solid;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.hero-section {
  height: 500px;
  width: 1065px; /* 50% */
  align-self: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.logo-section {
  height: 129px;
  width: 1065px; /* 50% */
  align-self: center;
}
.logo-section-logos {
  height: 100px;
  background-color: #f4f4f4;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}
.compare-section {
  height: 500px;
  width: 1065px; /* 50% */
  align-self: center;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}
.testiomonials-section {
  height: 730px;
  width: 1065px; /* 50% */
  align-self: center;
  align-content: flex-start;
  justify-content: center;
  text-align: center;
}
.testiomonials-section p{
  margin-top: 10px;
}
.testiomonials-section h2{
  margin-top: 20px;
}
.testimonial-items {
  padding: 0px;
  height: auto;
  margin-top: 80px;
  margin-right: 0px;
  margin-left: 0px;
  gap: 15px;
}
.testimonial-item {
  padding: 0px;
  width: 340px;
  border-radius: 20px;
  background-color: #cff4fc;
  margin: 0px;
  justify-content: center;
  position: relative;
}
.testimonial-item img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  object-fit: cover;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  /* border: 5px solid #e0f7fa; */
  padding: 0px;
}
.transfer-section{
  height: 400px;
  width: 1065px;
  align-self: center;
  justify-content: center;
  text-align: center;
  align-content: flex-start;
  border-radius: 20px;
  background: linear-gradient(#CFF4FC,#F4F4F4);
}
.footer-section{
  height: 270px;
  width: 1065px;
  align-self: center;
  justify-content: center;
}
.footer-section h4{
  font-size: 22px;
  /* font-family: Outfit; */
  font-weight: bold;
}
/* Контейнер слайдера, кнопок и изображения */
.container {
  width: 500px;
  z-index: 2;
  margin-bottom: 1rem;
}
/* Контейнер содержимого слайдера */
.carousel {
  height: 550px;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  position: relative;
}

/* контейнер для изображения */
.carousel-inner {
  height: 500px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
/* Изображение внутри контейнера слайдера */
.carousel-item img {
  width: 100%;
  height: 400px;
  align-items: flex-start;
}
.carousel-item h3 {
  justify-content: center;
}
.carousel-item span {
  font-size: 15px;
  text-align: center;
}
.carousel-indicators {
  margin-bottom: 0px;
}
.carousel-indicators-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 20px;
  margin-top: auto;
}
.carousel-control-prev,
.carousel-control-next {
  align-self: center;
  position: absolute;
  z-index: 10; /* Повышение z-index, чтобы кнопки были на переднем плане */
  height: 60px;
  width: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  /* Изначально скрыто */
  /* opacity: 0; 
  transition: opacity 0.3s; */
}
/* Цвет кнопок */
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(100%);
}

/* PHONE CARDS */
.card-img {
  height: 100px;
  width: 50px;
  display: flex;
  justify-content: center;
}
.card-column .card {
  border: none;
}
.card-column > .col:not(:last-child) {
  border-bottom: 1px #ccc solid;
  padding-bottom: 1rem;
}
.card-column .card-img-top {
  height: 200px;
  width: auto;
}
/* image card content */
.card-body-image {
  display: flex;
  justify-content: center;
  width: 15%;
}
/* center сard content */
.card-body-main {
  width: 75%;
}

/* card price content */
.card-body-price {
  width: 22.5%;
}
.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* button alignment */
.text-center {
  text-align: center;
}
.card-button {
  margin-top: 25px;
}
/* Padding around product card */
.card-column > .col:not(:last-child) {
  margin-top: 0;
  padding-top: calc(var(--bs-gutter-x) * 0.5);
  padding-bottom: calc(var(--bs-gutter-x) * 0.5);
}
.card-price {
  margin-top: 20px;
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
}

/* FILTERS FOR PHONES */
.phone-filter-container > div:not(:last-child) {
  border-bottom: 1px #ccc solid;
  padding-bottom: 0.5rem;
}
.phone-filter-container .phone-filter-header {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.75rem;
}

.body-user {
  border-radius: 15px;
  border: 1px #c6c6c6 solid;
  width: 40%;
}

/* Product Info */
.chars-overall p {
  font-size: 15px;
  margin-bottom: 5px;
}
.container-phone {
  border: 1px #333333 solid;
}

/* wave */
.header {
  min-height: 50px;
  background-color: #d37ba8;
  background-image: linear-gradient(to bottom, rgba(#715, 0.5), transparent);
  color: #ddf;
}

.canvas-wrap {
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  transform: translateY(0%);
}

canvas {
  display: block;
}
