<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Info</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="d-flex flex-column justify-content-between h-100">
      <!-- Header -->
      <header>
        <nav class="navbar shadow navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" style="font-weight: bold" href="#"
              >TalkieTown</a
            >
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <!-- Main&Smartphone btns -->
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Главная</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Смартфоны</a
                  >
                </li>
              </ul>
              <!-- Search & Basket -->
              <form class="d-flex" role="search">
                <!-- Search -->
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Поиск"
                  aria-label="Search"
                />
                <button id="a" class="btn link button_search" type="submit">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <!-- Basket -->
                <button id="Basket" class="btn link button_search">
                  <i class="fa-solid fa-basket-shopping"></i>
                </button>
              </form>
              <!-- Регистрация/Вход -->
              <div class="mx-2">
                <button type="button" class="btn btn-outline-info btn-sm">
                  Регистрация
                </button>
                <button type="button" class="btn btn-info btn-sm">Вход</button>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <!-- Body -->

      <div class="row d-flex justify-content-center my-5" >
        <div class="col-4" style="background-color: black;"><p style="background-color: red">text</p></div>
        <div class="col-6">
          <p style="background-color: green">text</p>
        </div>
      </div>

      <footer class="border-top text-muted">
        <div class="container d-flex justify-content-center">
          &copy; 2024 - TalkieTown - Privacy
        </div>
      </footer>
      <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://kit.fontawesome.com/d7278d699d.js"
        crossorigin="anonymous"
      ></script>
    </div>
  </body>
</html>
